* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.home {
  display: flex;
  flex-direction: column;
}
.header {
  padding: 2em;
  display: flex;

  background-color: #1b1b1e;
  color: white;
}

.header h1 {
  margin: 2px auto;
}

h2 {
  margin: 4px auto;
}

.links {
}

.links ul {
  margin: 3px auto;

  background-color: #d8dbe2;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
li {
  padding: 20px;
  width: 33%;
  text-align: center;
  text-decoration: none;

  background-color: #373f51;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.balance {
  margin: 0px auto;
  padding: 2em;
  font-size: 20px;
  background-color: #e6ffff;
  width: 100%;
  text-align: center;
}

.display {
  display: flex;
  flex-direction: column;
}

.displayBalance {
  width: 100%;
  background-color: #e6ffff;
  padding: 1em;
  font-size: 18px;
}

form {
  background-color: #a9bcd0;
  display: flex;

  align-items: center;

  margin: 0px auto;
  padding: 1em;
}

input {
  margin: 2px;
}

button {
  padding: 0.2em;
  border-radius: 0.3em;
  border: 1px solid #373f51;
  background-color: #d8dbe2;
  color: #373f51;
  margin: 2px;
  font-size: 15px;
}

.card {
  background-color: #d8dbe2;
  margin: 0.3em 0;
}
